/* Custom CSS */
.dark-theme {
  background-color: #121212; /* Dark theme background color */
  color: #fff; /* Text color */
}

.navbar-brand {
  font-family: Coolvetica, sans-serif;
  font-size: 30px;
}

.jumbotron h1 {
  font-family: Coolvetica, sans-serif;
  font-size: 70px;
  color: white;
}

.jumbotron p {
  font-family: Coolvetica, sans-serif;
  font-size: 20px;
  color: white;
}

.jumbotron {
  background-color: black;
  color: white;
  padding: 50px 0;
  background-image: url('path/to/your/background-image.jpg'); /* Path to your background image */
  background-size: cover; /* Cover the entire container with the background image */
  background-position: center; /* Center the background image */
}

.profile-pic {
  width: 300px;
  height: 300px;
  border-radius: 100%;
}

.resume-section {
  padding: 50px 0;
}

.resume-section h2 {
  font-family: Coolvetica, sans-serif;
  font-size: 36px;
  margin-bottom: 30px;
}

.resume-section h4 {
  font-family: Coolvetica, sans-serif;
  font-size: 24px;
}

.resume-section p {
  font-family: Arial, sans-serif;
  font-size: 16px;
}
